<nav>
  <app-admoin-navbar></app-admoin-navbar>
</nav>
<div class="contentContainer">
  <div class="container-fluid " id="main">
    <div class="">
      <!-- <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div> -->
      <div class="">
        <div class="login d-flex align-items-center py-3" >
          <div class="container">
            <div class="row">
              <div class="contentDiv">
                <h3 class="heading mb-4 align-items-center" id="heading">Published Event </h3>

                <div class="table_bg" *ngIf = "getEvent != null">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered dt-responsive nowrap res_table" cellspacing="0">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Index</th>
                                <!-- <th>Image</th> -->
                                <th>Event Name</th>
                                <th>Start Date & Time</th>
                                <th>End Date & Time</th>
                                <!-- <th>Discreption</th>
                                <th>Address</th> -->
                                <th>Show More</th>
                                <th>Unpublish</th>
                            </tr>
                        </thead>
                        <tbody ng-hide="loading">
                            <tr *ngFor="let getEvents of getEvent, let i = index" ng-cloak ng-mouseenter="hover(docType)" ng-mouseleave="hover(docType)">
                                <td>{{ i + 1 }}</td>
                                <!-- <td>{{getEvents.EventID}}</td> -->
                                <!-- <td><img [src]="'data:image/jpeg;base64,' + getEvents.EventImage"/></td> -->
                                <td>{{getEvents.EventName}}</td>
                                <td>{{getEvents.EventStartDate}}</td>
                                <td>{{getEvents.EventEndDate}}</td>
                                <!-- <td>{{getEvents.EventDiscription}}</td>
                                <td>{{getEvents.EventAddress}}</td> -->
                                <td><button (click)="ViewEvent(getEvents.EventID)">View More</button><p *ngIf="id == getEvents.EventID">{{message}}</p></td>
                                <td><button (click)="Unpublish(getEvents.EventID)">Unpublish</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

  